.top-img {
    background-image: url("images/columbus_landscape_cropped.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 40em;
}

.top-img-movies {
    background-image: url("images/movies.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 40em;
}

.top-img-music {
    background-image: url("images/headphones.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 40em;
}

.main_content {
   position: relative;
   margin-top:20em; 
   margin-bottom: 30px;
   z-index: 1;
   background-color:white;
}

.footer {
    position: absolute;
    margin-bottom: 0;
    margin-top: 80vh;
    width: 100%;
    /* Set the fixed height of the footer here */
    background-color:rgba(119, 15, 255, 1);
    line-height: 60px; /* Vertically center the text there */
  }
  
  .nav-bg{
      background-color:rgba(42, 168, 0, 0.77)
  }

 .favemem{
    border-radius: 8px;  
    height: 350px;
    background: rgb(245, 243, 243);
 }
  .avatar {
    border-radius: 8px;  
    height: 200px;
    background: rgb(245, 243, 243);
  }